# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.js text
*.ts text
*.json text
*.html text
*.css text

# Declare binary files to be excluded from line ending normalization.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
